<html>
<body>

<form th:action="@{/logout}" method="post">
    <button type="submit" th:text="Logout"/>
</form>

<table>

    <div th:each="restaurant : ${restaurants}" >
        <tr>
            <td><p th:text="' -- ' + ${restaurant.name} + '!'" /></td>
            <td><p th:text="' '+${restaurant.votes}+' votes --'"/></td>
            <td>
                <form action="#" th:action="@{/home}" th:object="${vote}" method="post">
                    <input type="hidden" th:name="id" th:id="id" th:value="${restaurant.id}" />
                    <button type="submit">vote</button>
                </form>

            </td>
        </tr>
    </div>
    <div th:if="${restaurants.empty}">
        <P>No voting session is active.<br/>Please use admin credentials to create a new session.</P>
    </div>
</table>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form action="#" th:action="@{/admin/new-session}"  method="get">
        <button type="submit">new session</button>
    </form>
</div>

</body>
</html>